/* IMPORTS */
@import "variables";
@import "mixin";
@import "style";
@import "animations";
@import "mediaqueries_tablets";
@import "mediaqueries_mobile";

@font-face {
  font-family: futura;
  src: url(../fonts/futura_med.ttf);
}
@font-face {
  font-family: futuralight;
  src: url(../fonts/futura_light.ttf);
}

.dashboardcontainer {
  @include dashboardcontainerstyling;
  @include scrollbarstyle;

  .leftcontainer {
    @include inputstyling;
    @include leftcontainerstyling;
    .todaysoutput {
      .outputcontainer {
        @include todaysoutputcontainerstyling;
      }
    }
  }
  .rightcontainer {
    @include rightcontainerstyling;
    .forecastcontainer {
      @include forecastcontainerstyling;
      .forecastitem {
        @include forecastitemstyling;
      }
    }
    .outputcontainersec {
      overflow-y: scroll;
      height: 100vh;
      .secondaryitems {
        margin-bottom: 5rem;
        @include outputcontainersecstyling;
        div {
          @include secondaryitemstyling;
        }
      }
      .coordcontainer {
        height: 140%;
      }
    }
  }
}
